* {
    background-color: #f5f5f5;
    line-height: 1.5;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    font-size: x-large;
    color: blueviolet;
}
img {
    width: 400px;
    height: auto;
    float: left;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 20px;
}

.description {
    font-size: medium;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ingredients, .steps {
    font-size: medium;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}